@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$xxl: 'xxl';
$xl: 'xl';
$lg: 'lg';
$md: 'md';
$sm: 'sm';
$xs: 'xs';

$maxWidth_xxl: 1390px;
$maxWidth_xl: 1190px;
$maxWidth_lg: 982px;
$maxWidth_md: 758px;
$maxWidth_sm: 566px;

$fontFamily: 'Helvetica', 'Arial', sans-serif;
$fontFamilyTitle: 'Raleway', 'Helvetica', 'Arial', sans-serif;
