// @use '@styles/constants' as const;
// @use '@styles/grid';
@use '@styles/helpers' as *;

.container {
  @include setContainerFluid(
    (
      $xxl: 10px,
    )
  );
}

.workList {
  @include setRow();
  @include setRowGutter(
    (
      $xxl: 10px,
    ),
    (
      $xxl: 10px,
    )
  );
}
