.workList {
  display: flex;
  flex-wrap: wrap;
}

.workItem {
  margin: 10px;
  display: block;
}

.workItem img {
  max-width: 100%;
  width: 200px;
  border-radius: 5px;
  border: 2px solid #000;
}
