@use '@styles/constants' as const;
@use '@styles/grid';

.container {
  @include grid.setContainerFluid(
    (
      const.$xxl: 10px,
    )
  );
}

.tags {
  margin-bottom: 30px;
}

.tag {
  background-color: transparent;
  border: dashed 1px var(--color-blue2);
  padding: 0 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.active {
  background-color: var(--color-blue2);
  color: var(--color-primary-white);
}
