.tags {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.tag {
  background-image: radial-gradient(53% 200% at 45% 60%, #623975 0, #66d9fb 100%);
  border-radius: 30px;
  padding: 0 20px;
  cursor: pointer;
}
