@use '@styles/helpers' as *;

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  @include setContainerFluid(
    (
      $xxl: 10px,
    )
  );
}

.main {
  margin-bottom: 30px;
}
