// @use '@styles/constants' as const;
// @use '@styles/grid';
@use '@styles/helpers' as *;

.footer {
  @include setContainerFluid(
    (
      $xxl: 10px,
    ),
    (
      $xxl: 15px,
    )
  );
  @include setRow(center);

  position: relative;
  margin-top: auto;
}

.active {
  font-weight: bold;
}

.link {
  padding: 0 10px;
  margin: 0 10px;
  text-decoration: none;
  font-size: 18px;

  &:hover {
    text-decoration: none;
  }
}

.logoGithub {
  position: absolute;
  display: block;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
}
