@use "sass:map";
@use '../variables' as *;

$_breakpointMap: (
  $xxl: false,
  $xl: 1399px,
  $lg: 1199px,
  $md: 991px,
  $sm: 767px,
  $xs: 575px,
);

@mixin usebp($_breakpointList) {
  $_current_breakpoint: map.get($_breakpointMap, $_breakpointList);
  @if $_current_breakpoint {
    @media (max-width: $_current_breakpoint) {
      @content;
    }
  } @else {
    @content;
  }
}
