// @use '@styles/constants' as const;
// @use '@styles/breakpoints' as bp;
// @use '@styles/grid';
@use '@styles/helpers' as *;

@mixin model {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #cccccc;
}

@mixin wave {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    bottom: 0;
    background-image: linear-gradient(to right, transparent, #f1f1f1b9, transparent);
    transform: translate3d(-100%, 0, 0);
    animation: wave 1.5s infinite ease-in;
  }
}

@mixin section {
  margin-bottom: 30px;
}

.section1 {
  @include section();
}

.section2 {
  @include section();
}

.section3 {
  @include section();
}

.container {
  @include setContainerFluid(
    (
      $xxl: 15px,
    )
  );
  overflow: hidden;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f1f1f1;

  @include wave();
}

.banner {
  @include model();
  min-height: 300px;
}

.title {
  @include model();
  height: 30px;
  max-width: 500px;
  margin: 0 auto 30px;
}

.advantageList {
  @include setRow();
  @include setRowGutter(
    (
      $xxl: 30px,
    ),
    (
      $xxl: 30px,
    )
  );
  @include setRowCols(
    (
      $xxl: 3,
      $md: 2,
      $xs: 1,
    )
  );
}

.advantageItem {
  @include setRow();

  align-items: center;

  @include usebp($xs) {
    justify-content: center;
  }
}

.iconWrapper {
  flex: 0 0 auto;
  margin-right: 15px;

  @include usebp($xs) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.icon {
  @include model();
  width: 100px;
  height: 100px;

  @include usebp($xs) {
    margin: 0 auto;
  }
}

.desc {
  flex: 0 0 auto;
  flex-grow: 1;
  max-width: 300px;

  @include usebp($xs) {
    width: 100%;
  }
}

.caption {
  @include model();
  height: 20px;
  max-width: 200px;
  margin-bottom: 10px;

  @include usebp($xs) {
    margin: 0 auto 10px;
  }
}

.text {
  @include model();
  height: 15px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section3Row {
  @include setRow();
  @include setRowGutter(
    (
      $xxl: 30px,
    )
  );
}

.section3Col1 {
  @include setColSize(
    (
      $xxl: 6,
      $sm: 12,
    ),
    true
  );
  display: flex;
  justify-content: flex-end;
}

.section3Col2 {
  @include setColSize(
    (
      $xxl: 6,
      $sm: 12,
    ),
    true
  );
}

.textWrapper {
  max-width: 500px;

  @include usebp($sm) {
    margin: 0 auto;
  }
}

.image {
  @include model();
  height: 400px;
  max-width: 300px;

  @include usebp($sm) {
    margin: 0 auto 15px;
  }
}

@keyframes wave {
  100% {
    transform: translate3d(130%, 0, 0);
  }
}
