@use '@styles/grid.scss';
@use '@styles/constants.scss' as const;
@use '@styles/breakpoints.scss' as bp;

@mixin model {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #cccccc;
}

@mixin wave {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10%;
    right: -10%;
    bottom: 0;
    background-image: linear-gradient(to right, transparent, #f1f1f183, transparent);
    transform: translate3d(-90%, 0, 0);
    animation: wave 2s infinite ease-in;
  }
}

@mixin section {
  margin-bottom: 30px;
}

.section1 {
  @include section();
}

.section2 {
  @include section();
}

.section3 {
  @include section();
}

.container {
  @include grid.setContainer(
    (
      const.$xxl: 15px,
    )
  );
  overflow: hidden;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f1f1f1;

  @include wave();
}

.banner {
  @include model();
  min-height: 300px;
}

.title {
  @include model();
  height: 30px;
  max-width: 500px;
  margin: 0 auto 30px;
}

.advantageList {
  @include grid.setRow();
  @include grid.setRowGutter(
    (
      const.$xxl: 30px,
    ),
    (
      const.$xxl: 30px,
    )
  );
  @include grid.setRowCols(
    (
      const.$xxl: 3,
      const.$md: 2,
      const.$xs: 1,
    )
  );
}

.advantageItem {
  @include grid.setRow();

  align-items: center;

  @include bp.usebp(const.$xs) {
    justify-content: center;
  }
}

.iconWrapper {
  flex: 0 0 auto;
  margin-right: 15px;

  @include bp.usebp(const.$xs) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.icon {
  @include model();
  width: 100px;
  height: 100px;

  @include bp.usebp(const.$xs) {
    margin: 0 auto;
  }
}

.desc {
  flex: 0 0 auto;
  flex-grow: 1;
  max-width: 300px;

  @include bp.usebp(const.$xs) {
    width: 100%;
  }
}

.caption {
  @include model();
  height: 20px;
  max-width: 200px;
  margin-bottom: 10px;

  @include bp.usebp(const.$xs) {
    margin: 0 auto 10px;
  }
}

.text {
  @include model();
  height: 15px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.section3Row {
  @include grid.setRow();
  @include grid.setRowGutter(
    (
      const.$xxl: 30px,
    )
  );
}

.section3Col1 {
  @include grid.setColSize(
    (
      const.$xxl: 6,
      const.$sm: 12,
    ),
    true
  );
  display: flex;
  justify-content: flex-end;
}

.section3Col2 {
  @include grid.setColSize(
    (
      const.$xxl: 6,
      const.$sm: 12,
    ),
    true
  );
}

.textWrapper {
  max-width: 500px;

  @include bp.usebp(const.$sm) {
    margin: 0 auto;
  }
}

.image {
  @include model();
  height: 400px;
  max-width: 300px;

  @include bp.usebp(const.$sm) {
    margin: 0 auto 15px;
  }
}

@keyframes wave {
  100% {
    transform: translate3d(130%, 0, 0);
  }
}
